
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    background: linear-gradient(180deg, #F95B2E 0%, #1E1E1E 100%);
    height: 100vh;

}
.container{
display: flex;
width: 24.25rem;
padding: 2.25rem 0rem;
flex-direction: column;
align-items: center;
gap: 2.375rem;
border-radius: 0.9375rem;
background: #F3F3F3;
}
img{
width: 10rem;
height: 10rem;
background: url(<path-to-image>),   / cover no-repeat;
}
.wrapper-inputs{
display: flex;
flex-direction: column;
align-items: center;
gap: 1.375rem;
width: 19rem;
}
input{
display: flex;
width: 19rem;
padding: 1.1875rem 1.0625rem;
align-items: center;
gap: 0.625rem;
border: none;       
border-radius: 0.5rem;
background: #D0CACA;
}
button{
display: flex;
width: 21.5rem;
height: 3.5625rem;
padding: 0.4375rem 7.875rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
border: none;
border-radius: 0.5rem;
background: #F95B2E;
color: #F3F3F3;
}
@media (min-width:1024px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        flex-shrink: 0;
}

.container{
    display: flex;
    width: 40.625rem;
    height: 31.25rem;
    padding: 2.25rem 0rem;
    flex-direction: column;
    align-items: center;
    gap: 2.375rem;
    flex-shrink: 0;
}
}